{
  "extends" : [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
  "parser" : "babel-eslint",
  "plugins":[
    "import",
    "jsx-a11y",
    "react"
  ],
  "env":{
    "browser":true,
    "node":true
    },
  "rules" : {
    "indent" : 0
  }
}
