._3JQwMRwjAPCdCYkDHr5XjY {
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}
._3JQwMRwjAPCdCYkDHr5XjY:hover {
  transform: scale(1.01);
}

._1u0-rHcH5uIaBJpPX7c8SS {
  margin: 0;
}
._1u0-rHcH5uIaBJpPX7c8SS a {
  color: black;
  text-decoration: none;
}

._3GZs2BXZEUtnHSV80Di-rJ {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  ._3GZs2BXZEUtnHSV80Di-rJ {
    flex-direction: column;
  }
  ._3GZs2BXZEUtnHSV80Di-rJ * {
    margin: .25em 0;
  }
}
._3LDtgJCsIavRuTNszXxpTP {
  max-width: 1024px;
  margin: 0 auto;
}


._2FSpz7mEAeuochm2cigmSq {
  margin: 1em;
}

._1vf_OiLP8VgAHovTVOI1HJ {
  margin: 1em;
}

.m4PqPtCeyAc6c3kKF3bK5 {
  margin: 1em 0;
}

.m4PqPtCeyAc6c3kKF3bK5 legend {
  font-size: 1.125em;
}

.m4PqPtCeyAc6c3kKF3bK5 input {
  border: none;
  color: black;
  padding: .25em .5em;
}

.m4PqPtCeyAc6c3kKF3bK5 address {
  padding-left: 1em;
}


._3-vJFfv9mbvb_1fWb5jVVT {
  opacity: 0;
}
._3YY3UcQLEewLd1ul-8FS3a {
  opacity: 1;
  transition: opacity 1s;
}
._2QTgMQogscrxbXLrwxZEgi {
  opacity: 0;
}
._1y2dw5KKfvegFu0EMuV6CX {
  opacity: 1;
  transition: opacity 1s;
}
.xB3uFdKl-ckewYqTfkjfl {
  opacity: 1;
}
._2NOf4uKqimq_gSWoeFVoYg {
  opacity: 0;
  transition: opacity 1s;
}
.drWyG9k3xNlp6i9xgC9S1 {
  background: linear-gradient(90deg, #1c3643 0, #273b46 25%, #1e5372);
}

._1PGRrQ-JzqagQe0vO5_fw8 {
  color: #fff;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: .5em 1em;
  width: 100%;
}

._24vuKwSX7nLQNAtoDeKMn4 {
  display: flex;
  padding: 1em;
}

.EMKmSBN1egAsi5Ec2X8qo {
  color: white;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid white;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
.EMKmSBN1egAsi5Ec2X8qo:first-of-type {
  margin-left: 0;
}
.EMKmSBN1egAsi5Ec2X8qo:last-of-type {
  margin-right: 0;
}
.EMKmSBN1egAsi5Ec2X8qo:hover {
  background-color: white;
  color: black;
  transform: scale(1.01);
}
