.KE9W3OdH6xQ4bvE_SDR3N {
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}
.KE9W3OdH6xQ4bvE_SDR3N:hover {
  transform: scale(1.01);
}

._3z7q3V-iV6Lqo3wkhbuFCK {
  margin: 0;
}
._3z7q3V-iV6Lqo3wkhbuFCK a {
  color: black;
  text-decoration: none;
}

._21QO-wFIO1yralYTO7p9Kw {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  ._21QO-wFIO1yralYTO7p9Kw {
    flex-direction: column;
  }
  ._21QO-wFIO1yralYTO7p9Kw * {
    margin: .25em 0;
  }
}
._2PgnXLPoJEbnMchVf5ngw_ {
  max-width: 1024px;
  margin: 0 auto;
}


._1v0lT1nRHy-Q-5frV4ubK- {
  margin: 1em;
}

._2tydMQZaicsgeDeNcDGdmT {
  margin: 1em;
}

._3fVuJgn2Jlg0_nNckXdgye {
  margin: 1em 0;
}

._3fVuJgn2Jlg0_nNckXdgye legend {
  font-size: 1.125em;
}

._3fVuJgn2Jlg0_nNckXdgye input {
  border: none;
  color: black;
  padding: .25em .5em;
}

._3fVuJgn2Jlg0_nNckXdgye address {
  padding-left: 1em;
}


._2Enpi5L-DqMHQcsVagZ7Fz {
  opacity: 0;
}
._2jaMaQyW-8FFxtUEu9AIAA {
  opacity: 1;
  transition: opacity 1s;
}
._2fsgpWELOlXZWTOZlT_i4x {
  opacity: 0;
}
.z7WegBj-nHNf2P3BhYkwx {
  opacity: 1;
  transition: opacity 1s;
}
._2AmpLdqNgp7tW6Xg4c1S8s {
  opacity: 1;
}
._2zFlp8o5rKg7SccfESqGnt {
  opacity: 0;
  transition: opacity 1s;
}
._3WPHw-EQIKAg90iPBJQQdD {
  background: linear-gradient(90deg, #1c3643 0, #273b46 25%, #1e5372);
}

._1WZxWYFLls2fWX6WkPN4Pl {
  color: #fff;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: .5em 1em;
  width: 100%;
}

._2XIaaXO0sWdJCG6ITDcBqk {
  display: flex;
  padding: 1em;
}

._1SSczhBXMvBYvyLGs2RY_X {
  color: white;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid white;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
._1SSczhBXMvBYvyLGs2RY_X:first-of-type {
  margin-left: 0;
}
._1SSczhBXMvBYvyLGs2RY_X:last-of-type {
  margin-right: 0;
}
._1SSczhBXMvBYvyLGs2RY_X:hover {
  background-color: white;
  color: black;
  transform: scale(1.01);
}
